html {
  font-family: Merriweather, serif;
}

td {
  height: 10em;
}

.grey {
  background-color: #f2f2f2;
  border-color: #666;
  color: #333;
}

.red {
  background-color: #f2bcbc;
  color: #991919;
  border-color: #b92828;
}

ul, li {
  border-radius: 8px;
}

.green {
  background-color: #d1e0bf;
  border-color: #6b7e54;
  color: #51603f;
}

.blue {
  background-color: #d2d6f0;
  color: #38448e;
  border-color: #1d38da;
}

table, th, td {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.border {
  border-style: solid;
  border-width: 1px;
}
